
/* Teammitglieder-Seiten */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-bottom: 0px;
}

p{
    margin: 5px;
}

#rolle{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#link-landingpage{
    font-size: 25px;
}